body{
  margin: 0;
  background-color: #040216;
  color: white;
}
.wrapper{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.wrapper > div{
  background-color: rgb(70, 79, 121);
  border-radius: 10px;
}