.dialogs{
    background-color: rgb(70, 79, 121);
    border-radius: 10px;
    margin: 5px;
}
.usmes{
    display: flex;
    justify-content: space-around;
}
.send, input{
    width: 30%;
    margin: 0 auto;
}
.username a{
    display: block;
    margin: 16px;
    text-decoration: none;
    color: aqua;
}
.username a:hover{
    color: rgb(0, 109, 109);
}
.binput{
    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;
}
.enter{
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    touch-action: manipulation;  
    font-size: 15px;
}
.enter:hover{
    color: rgb(255, 0, 0);
}
.send {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  touch-action: manipulation;
  font-size: 15px;
  
}
.send:hover{
    color: #00ffd5;
}
.send:before {
  content: "";
  background: linear-gradient(45deg,#ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,#ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-send 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-send {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.send:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}